.container {
  position: relative;
  display: flex;
  border-style: none;
  padding: 1px;
  width: 100%;
  box-shadow: none;
  background-color: var(--blackInputTask);
  border-radius: 30px;
  backdrop-filter: blur(20px);
}

.container:hover{
  background-color: var(--whiteCristal);
  backdrop-filter: blur(20px);
  cursor: text;
}

.inputTaskCreator {
  width: 500px;
  background-color: var(--blackInputTask);
  color: white;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  padding-right: 20px;
  outline: none;
  border-style: none;
  letter-spacing: 2px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.inputTaskCreator::placeholder {
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btnTaskCreator{
  width: 50px;
  background-color: var(--blackInputTask);
  color: aliceblue;
  height: 50px;
  border-style: none;
  font-size: 16px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 20px;
}
