.Template{
  background: var(--colorPurpleBlueGradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
}

.Content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.ContainerItems{
  width: 600px;
  height: 600px;
  background-color: var(--whiteCristal);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 20px;
  z-index: 2;
}

.DivTaskCompleted{
  text-decoration:line-through;
}

.PositionInputCreator{
  position: absolute;
  bottom: 20px;
  width: 580px;
}