:root {
  box-sizing: border-box;
  --grayHover: rgba(224, 219, 219, 0.308);
  --changeableColorTask: #fff;
  --whiteCristal: rgba(255, 255, 255, 0.219);
  --colorPurpleBlueGradient:linear-gradient(180deg, #2A0944 0%, #12122C 100%);
  --colorYellowOrangeGradient: linear-gradient(211.52deg, #F7AF17 13.53%, #FF2625 84.56%);
  --bgCuadro2: linear-gradient(211.52deg, #B15E8B 13.53%, #461E6F 84.56%);
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
