.DivTaskCompleted{
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}

.DivTaskCompleted:hover{
  background-color: var(--grayHover);
  cursor: pointer;
}

.InputTaskCompleted{
  margin-right: 10px;
}